"*":
  "exception-reporting":
    userId: "32cb7f2c-bae1-f5aa-3e75-17dc79b75d32"
  welcome:
    showOnStartup: false
  core:
    followSymlinks: true
    disabledPackages: [
      "markdown-preview"
    ]
    themes: [
      "atom-material-ui"
      "outlander-syntax"
    ]
  "vim-mode":
    useSmartcaseForSearch: true
  editor:
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
    fontFamily: "'Envy Code R', 'M+ 1m', 'Source Han Code JP'"
    scrollPastEnd: true
    softWrapAtPreferredLineLength: true
    backUpBeforeSaving: true
    fontSize: 11
    tabType: "soft"
  "haskell-ghc-mod": {}
  "autocomplete-haskell": {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  linter: {}
  minimap:
    plugins:
      "git-diff": true
      linter: true
      bookmarks: true
      selection: true
      "highlight-selected": true
      pigments: true
      "find-and-replace": true
    displayMinimapOnLeft: true
    displayCodeHighlights: false
  hidpi: {}
  "autocomplete-python": {}
  "file-icons": {}
  "atom-alignment": {}
  "autocomplete-clang": {}
  "atom-twitter-client": {}
  "quick-highlight":
    decorate: "highlight"
  "atom-material-ui":
    rippleAccentColor: true
    depth: true
    compactTreeView: true
    panelContrast: true
    showTabIcons: "Show on all tabs"
    accentColor: "Cyan"
  jumpy:
    highContrast: true
  "markdown-preview-katex": {}
  "markdown-preview":
    useGitHubStyle: true
  atomatigit: {}
  "highlight-line":
    hideHighlightOnSelect: true
  "linter-rust":
    jobsNumber: 4
  "ide-haskell": {}
  "one-light-ui": {}
  "isotope-light-ui":
    customBackgroundColor: "false"
    fontFamily: "System Default"
  "isotope-ui":
    fontWeight: "Regular"
    spaciousMode: true
  "one-dark-ui": {}
  "rust-api-docs-helper":
    enableVisualHints: false
  pigments: {}
  "git-plus": {}
  racer:
    racerBinPath: "/usr/bin/racer"
    rustSrcPath: "/home/yuta/rust/src"
  "markdown-writer": {}
  "git-diff":
    showIconsInEditorGutter: true
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
".basic.html.text":
  editor:
    tabLength: 2
".ruby.source":
  editor:
    tabLength: 2
".gfm.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".source.yaml":
  editor:
    tabLength: 2
