"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "atom-alignment": {}
  "atom-material-ui":
    colors: {}
    fonts:
      fontSize: 20
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-twitter-client": {}
  atomatigit: {}
  "autocomplete-clang": {}
  "autocomplete-haskell": {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  "autocomplete-python": {}
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
      "vim-surround"
      "vim-mode-visual-block"
      "hidpi"
      "activate-power-mode"
      "file-icon-supplement"
      "markdown-preview"
      "markdown-scroll-sync"
      "markdown-format"
      "markdown-toc"
      "markdown-preview-plus"
      "language-gfm"
      "language-markdown"
    ]
    followSymlinks: true
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-light"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "'Midway', 'M+ 1m', 'Source Han Code JP', 'Midway Nerd Font', 'PowerlineSymbols', 'seti', 'icomoon', 'FontAwesome', 'octicons'"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "32cb7f2c-bae1-f5aa-3e75-17dc79b75d32"
  "file-icon-supplement": {}
  "file-icons": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "haskell-ghc-mod": {}
  hidpi:
    scaleFactor: 1.23
  "highlight-line":
    hideHighlightOnSelect: true
  "ide-haskell": {}
  "isotope-light-ui":
    customBackgroundColor: "false"
    fontFamily: "System Default"
  "isotope-ui":
    fontWeight: "Regular"
    spaciousMode: true
  jumpy:
    highContrast: true
  linter: {}
  "linter-rust":
    jobsNumber: 4
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-katex": {}
  "markdown-writer": {}
  minimap:
    displayCodeHighlights: false
    displayMinimapOnLeft: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui": {}
  "one-light-ui": {}
  pigments: {}
  "quick-highlight":
    decorate: "highlight"
  racer:
    racerBinPath: "/usr/bin/racer"
    rustSrcPath: "/home/yuta/rust/src"
  "rust-api-docs-helper":
    enableVisualHints: false
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-mode-plus":
    highlightSearch: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    showHoverOnOperate: true
    showHoverSearchCounter: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnHalfScrollMotion: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    tabLength: 2
".gfm.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".ruby.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
