"*":
  "exception-reporting":
    userId: "32cb7f2c-bae1-f5aa-3e75-17dc79b75d32"
  welcome:
    showOnStartup: false
  core:
    followSymlinks: true
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    disabledPackages: [
      "markdown-preview"
    ]
  "vim-mode":
    useSmartcaseForSearch: true
  editor:
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
    fontSize: 11
    fontFamily: "'Envy Code R', 'M+ 1m', 'Source Han Code JP'"
  "haskell-ghc-mod": {}
  "autocomplete-haskell": {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  linter: {}
  minimap:
    plugins:
      "git-diff": true
      linter: true
      bookmarks: true
      selection: true
      "highlight-selected": true
      pigments: true
      "find-and-replace": true
    displayMinimapOnLeft: true
  hidpi: {}
  "autocomplete-python": {}
  "file-icons": {}
  "atom-alignment": {}
  "autocomplete-clang": {}
  "atom-twitter-client": {}
  "quick-highlight":
    decorate: "highlight"
  "atom-material-ui":
    accentColor: "Orange"
    compactTreeView: true
    panelContrast: true
    showTabIcons: true
    tabSize: "Small"
  jumpy:
    highContrast: true
  "markdown-preview-katex": {}
  "markdown-preview":
    useGitHubStyle: true
  atomatigit: {}
