'.command-palette atom-text-editor[mini],
 .fuzzy-finder atom-text-editor[mini]':
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'
  'ctrl-m': 'core:confirm'

'atom-text-editor.vim-mode.normal-mode':
  'space space': 'command-palette:toggle'
'atom-text-editor.vim-mode.visual-mode':
  'space space': 'command-palette:toggle'

'body':
  'ctrl-w': 'unset!'
  'ctrl-shift-w': 'core:close'

'atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-w c':      'core:close'
  'ctrl-w ctrl-c': 'core:close'

'atom-text-editor:not(.vim-mode)':
  'ctrl-b': 'core:move-left'
  'ctrl-f': 'core:move-right'
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-d': 'core:delete'
  'ctrl-h': 'core:backspace'
'atom-text-editor.vim-mode.insert-mode':
  'ctrl-b': 'vim-mode:move-left'
  'ctrl-f': 'vim-mode:move-right'
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-d': 'core:delete'
  'ctrl-h': 'core:backspace'

'atom-text-editor.vim-mode.normal-mode,
 atom-text-editor.vim-mode.visual-mode':
  'space h': 'quick-highlight:toggle'
  'space H': 'quick-highlight:clear'

'atom-text-editor.vim-mode.normal-mode':
  'space f f': 'fuzzy-finder:toggle-file-finder'
  'space f b': 'fuzzy-finder:toggle-buffer-finder'
  'space f g': 'fuzzy-finder:toggle-git-status-finder'

'atom-text-editor:not([mini])':
  'alt-g alt-n': 'git-diff:move-to-next-diff'
  'alt-g alt-p': 'git-diff:move-to-previous-diff'

'atom-workspace atom-text-editor:not(.mini),
 atom-workspace atom-text-editor.jumpy-jump-mode':
  'shift-enter': 'unset!'
'atom-text-editor.vim-mode.normal-mode:not(.jumpy-jump-mode),
 atom-text-editor.vim-mode.visual-mode:not(.jumpy-jump-mode)':
  'space j': 'jumpy:toggle'

'atom-text-editor:not([mini]).autocomplete-active':
  'tab':    'autocomplete-plus:confirm'
  'ctrl-i': 'autocomplete-plus:confirm'
  'enter':  'autocomplete-plus:confirm'
  'ctrl-m': 'autocomplete-plus:confirm'
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'

'atom-text-editor:not([mini])':
  'alt-n': 'linter:next-error'
  'alt-p': 'linter:previous-error'
