'.command-palette atom-text-editor[mini],
 .fuzzy-finder atom-text-editor[mini]':
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'
  'ctrl-m': 'core:confirm'

'atom-text-editor.vim-mode.normal-mode':
  'space space': 'command-palette:toggle'
'atom-text-editor.vim-mode.visual-mode':
  'space space': 'command-palette:toggle'

'body':
  'ctrl-w':            'unset!'
  'ctrl-w c':          'pane:close'
  'ctrl-w ctrl-c':     'pane:close'
  'ctrl-w p':          'window:focus-previous-pane'
  'ctrl-w w':          'window:focus-next-pane'
  'ctrl-w ctrl-p':     'window:focus-previous-pane'
  'ctrl-w ctrl-w':     'window:focus-next-pane'
  'ctrl-w h':          'window:focus-pane-on-left'
  'ctrl-w j':          'window:focus-pane-below'
  'ctrl-w k':          'window:focus-pane-above'
  'ctrl-w l':          'window:focus-pane-on-right'
  'ctrl-w ctrl-h':     'window:focus-pane-on-left'
  'ctrl-w ctrl-j':     'window:focus-pane-below'
  'ctrl-w ctrl-k':     'window:focus-pane-above'
  'ctrl-w ctrl-l':     'window:focus-pane-on-right'
  'ctrl-w left':       'window:focus-pane-on-left'
  'ctrl-w down':       'window:focus-pane-below'
  'ctrl-w up':         'window:focus-pane-above'
  'ctrl-w right':      'window:focus-pane-on-right'
  'ctrl-w ctrl-left':  'window:focus-pane-on-left'
  'ctrl-w ctrl-down':  'window:focus-pane-below'
  'ctrl-w ctrl-up':    'window:focus-pane-above'
  'ctrl-w ctrl-right': 'window:focus-pane-on-right'

'atom-text-editor:not(.vim-mode)':
  'ctrl-b': 'core:move-left'
  'ctrl-f': 'core:move-right'
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-d': 'core:delete'
  'ctrl-h': 'core:backspace'
'atom-text-editor.vim-mode.insert-mode':
  'ctrl-b': 'vim-mode:move-left'
  'ctrl-f': 'vim-mode:move-right'
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-d': 'core:delete'
  'ctrl-h': 'core:backspace'

'atom-text-editor.vim-mode.normal-mode,
 atom-text-editor.vim-mode.visual-mode':
  'space h': 'quick-highlight:toggle'
  'space H': 'quick-highlight:clear'

'atom-workspace atom-text-editor:not(.mini),
 atom-workspace atom-text-editor.jumpy-jump-mode':
  'shift-enter': 'unset!'
'atom-text-editor.vim-mode.normal-mode:not(.jumpy-jump-mode),
 atom-text-editor.vim-mode.visual-mode:not(.jumpy-jump-mode)':
  'space j': 'jumpy:toggle'

'atom-text-editor:not(.mini).autocomplete-active':
  'tab':    'autocomplete-plus:confirm'
  'ctrl-i': 'autocomplete-plus:confirm'
  'enter':  'autocomplete-plus:confirm'
  'ctrl-m': 'autocomplete-plus:confirm'
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'
