packages: [
  "atom-alignment"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-twitter-client"
  "atomatigit"
  "autocomplete-clang"
  "autocomplete-haskell"
  "autocomplete-paths"
  "autocomplete-php"
  "autocomplete-python"
  "color-picker"
  "file-icons"
  "git-control"
  "git-log"
  "git-plus"
  "gruvbox"
  "haskell-ghc-mod"
  "hidpi"
  "highlight-line"
  "highlight-selected"
  "ide-haskell"
  "jumpy"
  "language-diff"
  "language-haskell"
  "language-rust"
  "linter"
  "linter-rust"
  "markdown-format"
  "markdown-preview-katex"
  "markdown-scroll-sync"
  "markdown-toc"
  "markdown-writer"
  "merge-conflicts"
  "minimap"
  "minimap-bookmarks"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-pigments"
  "minimap-selection"
  "neutron-syntax"
  "neutron-ui"
  "nucleus-dark-ui"
  "package-sync"
  "pen-paper-coffee-syntax"
  "pigments"
  "pipe"
  "polaris-syntax"
  "project-manager"
  "quick-highlight"
  "racer"
  "rust-api-docs-helper"
  "seti-syntax"
  "Sublime-Style-Column-Selection"
  "vim-mode"
  "vim-mode-visual-block"
  "yeti-syntax"
  "yeti-ui"
]
