@serif: "Crimson Text", "IPAPMincho";
@sans-serif: "Lato", "M+ 1c", "Source Han Sans";
@monospace: "Envy Code R", "M+ 1m", "Source Han Code JP";

atom-text-editor::shadow .jumpy {
    &.label {
        background-color: "orange";
        color: black;
        font-weight: bold;
    }
    &.jump {
    }
}

.markdown-preview,
.markdown-preview-katex {
    font-family: @serif;
}
