@serif: "Crimson Text", "IPAPMincho";
@sans-serif: "Lato", "M+ 1c", "Source Han Sans";
@monospace: "Envy Code R", "M+ 1m", "Source Han Code JP";

atom-text-editor::shadow .jumpy {
    &.label {
        background-color: "orange";
        color: black;
        font-weight: bold;
    }
    &.jump {
    }
}

.markdown-preview,
.markdown-preview-katex {
    font-family: @serif;
    color: #282828;
    background-color: #e2dfd8;

    h1, h2, h3, h4, h5, h6 {
        font-family: @sans-serif;
        color: #282828;
    }
    h1 {
        border-bottom: 0.1em solid #5c584e;
    }
    h2 {
        border-bottom: 0.1em dotted #5c584e;
    }
}
